body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

/* setion one start */
h1 {
    font-weight: 700;
    font-size: 70px;
    color: white;
    line-height: 80px;
}

.container {
    display: flex;
    width: 1320px;
    margin: 50px auto;
}

.top-banner {
    display: flex;
    background-color: #161616;
    border-radius: 30px;
    color: white;
    height: 645px;
}

.top-title {
    padding-top: 100px;
    padding-left: 105px;
    padding-right: 25px;
    width: 50%;
}

.heading {
    margin-bottom: 0px;
}

.banner-image img {
    width: 580px;
    height: 615px;
    padding-top: 30px;
    padding-right: 80px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.heading-paragraph {
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 30px;

}

.watch-button {
    width: 185px;
    height: 55px;
    border-radius: 5px;
    background-color: #DD0000;
    color: white;
    font-weight: 400px;
    font-size: 20px;
}

/* section one end */
/* section two strat */
.sidebar {
    font-weight: 500;
    font-size: 15px;
    padding: 20px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.sidebars {
    display: grid;
    grid-template-rows: auto;
    width: 312px;
    height: 312px;
    background-color: #161616;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#upcoming:hover {
    background-color: #DD0000;
    color: white;
}

#blog {
    background-color: #DD0000;
    color: white;
}

.blogs-box {
    width: 100%;
    height: 1135px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    row-gap: 25px;
    margin-bottom: 100px;
}

.blog {
    width: 312px;
    height: 360px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.transfer {
    width: 100px;
    height: 32px;
    border-radius: 5px;
    border-color: #161616;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
}

.paragraph {
    font-size: 18px;
    font-weight: 600;
}

.blog-bottom {
    padding-left: 20px;
    padding-top: 10px;
}

.icons {
    padding: 5px;
    justify-content: center;
    align-items: center;
}

#chat {
    padding-left: 30px;
}

footer {
    background-color: #161616;
    height: 445px;
    color: white;
    margin: 0;
}

.goal {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 130px;
}

.contacts {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.footer-options {
    padding: 35px;
}

.social-media {
    margin-top: 25px;
    display: inline-block;
    color: white;
    font-size: 30px;
    padding: 25px;
}


/* match page */

.matches {
    width: 312px;
    height: 240px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.flag {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}


.vs {
    font-size: 16px;
    font-weight: 700;
}

.match {
    text-align: center;
}

.match-box {
    width: 100%;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    row-gap: 25px;
    margin-bottom: 100px;
}