body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    color: white;
    line-height: 80px;
}

.top-banner {
    display: flex;
    width: 1320px;
    height: 645px;
    background-color: #161616;
    margin: 50px auto;
    border-radius: 30px;
    color: white;
}

.top-title {
    padding-top: 100px;
    padding-left: 105px;
    padding-right: 25px;
    width: 50%;
}

.heading {
    margin-bottom: 0px;
}

.banner-image img {
    width: 580px;
    height: 615px;
    padding-top: 30px;
    padding-right: 80px;
    margin-bottom: 0px;

}

.heading-paragraph {
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 30px;

}

.watch-button {
    width: 185px;
    height: 55px;
    border-radius: 5px;
    background-color: #DD0000;
    color: white;
    font-weight: 400px;
    font-size: 20px;
}